@model CrudMVCADO.Models.Department

<h4>Department</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateDepartment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="deptName" class="control-label"></label>
                <input asp-for="deptName" class="form-control" />
                <span asp-validation-for="deptName" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="empId" class="control-label"></label>
                <input asp-for="empId" class="form-control" />
                <span asp-validation-for="empId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ListDepartment">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
